# Firebase Service Account
FB_SERVICE_ACCOUNT_PATH=./firebase-service-account.json

# If you prefer using individual credentials (e.g. for Production/CI/CD):
# FB_PROJECT_ID=your-project-id
# FB_CLIENT_EMAIL=your-service-account-email
# FB_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n..."
