# Dependencies
node_modules/

# Environment Variables
.env

# Build Output
dist/
build/
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Private files
firebase-service-account.json